body {
  background-color: #f8f4f4;
}

.container {
  background: white;
  width: 500px;
  padding-bottom: 20px;
}

.outer-box {
  width: 100%;
  border-bottom: 1px solid gray;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.inner-box {
  width: 90%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

#task-submit {
  width: 100%;
  height: inherit;
}

.task-input {
  padding: 0;
  margin: 0;
  width: inherit;
  height: 50px;
  border: none;
  font-style: italic;
  outline: 0;
}

.task-group {
  display: flex;
  align-items: center;
}

.task-text {
  margin-left: 10px;
}

.clear {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 24px;
  padding: 5px;
}

.clear a {
  color: black;
  text-decoration: none;
}

.clear a:hover {
  text-decoration: underline;
}
