@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');

body {
  background-color: #f8f4f4;
}

.container {
  width: 500px;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
  display: flex;
  flex-direction: column;
  background: #eeecec;
}

header {
  background-color: white;
}


.hidden{
  display: none;
 
}
.task-group {
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #f8f4f4;
}

.header-list {
  border-top: 2px solid #f8f4f4;
}

.arrow-left{
  font-size: 10px;
}

.optionBtn{
  width: 10%;
  text-align: end;
  cursor: move;
}
#input-task {
  font-size: 17px;
  border: 0;
  outline: 0;
  width: 100%;
}

.task-list-placeholder {
  padding: 0;
  margin: 0;
  background-color: white;
}

.task-list-placeholder li {
  list-style: none;
}

.task-list {
  border-bottom: 2px solid #f8f4f4;
}

.task-list-item {
  padding: 15px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}



.line-through {
  text-decoration: line-through;
}

.clear {
  padding: 20px;
  align-self: center;
}

#clear-btn {
  text-decoration: none;
  color: black;
}

#clear-btn:hover {
  color: blue;
  text-decoration: underline;
}
